body{
  font-family: "Comic Sans MS", serif;
}

.automate{
  font-weight: bold;
}

.border{
  border: thick solid black;
}

.border2{
  border-top: thick solid black;
  border-bottom: thick solid black;
  border-right: thick solid black;
}

.row-height-min{
  height: 90px;
}

.logo{
  width: 70%;
}

.smile {
  padding: 2px;
  max-width: 125px;
  max-height: 70%;
  width: auto;
  display: inline-block;
  vertical-align: left;
}

.input {
  font-weight: bold;
  color: red;
  font-style: italic;
}
